mixin puff(img, title, description, type)
  .puff
    img(src="/images/" + img)
    .puff-text
      p.puff-title= title
      p.puff-description= description
      p.puff-type= type

mixin product-content(img, title, rubrik1,video, description, img2,text1,rubrik2,text2)
  .row.product-content-peruis
      .product-content-perui
          div(style='background-image: url(/images/'+ img + ')').product-content-perui-title
            p.product-content-perui-title-text= title
          .product-content-perui-text.row
            h3=rubrik1
            .product-content-video
              iframe(src=video)
            .product-content-perui-description
              p=description
          .product-content-perui-text.row
            div(style='width: 70%').product-content-video
              p=text1
            .product-content-perui-description
              img(src="/images/" + img2 style='width:30%')
          .product-content-perui-text.row
            .product-content-video
              h3=rubrik2
              p=text2
              iframe(src='//pilot.arbetsformedlingen.se/kompetensutforskaren/#!/' Style='width:50%')




mixin pages(page, submenu)
  -
    var pages = {
      'Home': '/',
      'Vision': '/vision',
      'Insights': '/insights',
      'News': '/news',
      'Assets': '/assets',
      'Platsbanken': '/assets/platsbanken',
      'Occupation': '/assets/occupations',
      'Historical Job Postings': '/assets/historical-job-postings',
      'Occupation Forecast': '/assets/occupation-forecasts',
      'Job market ontology': '/assets/ontology',
      // 'CV with MS Word': '/assets/cv-with-ms-word',
      // 'Open Hack': '/assets/open-hack',
      'Labour market competition': '/assets/labour-market-competition',
    }
  a(href=pages[page])= submenu ? '> ' + page : page

mixin product-menu(top, sub)
  .product-menu
    ul
      li(class= top === 1 ? 'active' : '')
        a(href="/assets") Assets
      ul.sublist
        li(class= sub === 1 ? 'active' : '')
          +pages('Platsbanken', true)
        li(class= sub === 2 ? 'active' : '')
          +pages('Occupation', true)
        li(class= sub === 3 ? 'active' : '')
          +pages('Historical Job Postings', true)
        li(class= sub === 4 ? 'active' : '')
          +pages('Occupation Forecast', true)
        li(class= sub === 5 ? 'active' : '')
          +pages('Job market ontology', true)
      //- li(class= top === 2 ? 'active' : '')
        a(href="http://historik.azurewebsites.net/" target="_blank") Historical Data Analysis
      //- li(class= top === 3 ? 'active' : '')
        +pages('CV with MS Word')
      //- li(class= top === 4 ? 'active' : '')
        +pages('Open Hack')
      //- li(class= top === 5 ? 'active' : '')
        +pages('Labour market competition')

mixin breadbrumbs(...items)
  ol.breadcrumb
    each item, index in items
      unless index === (items.length - 1)
        -
          var pages = {
            'Home': '/',
            'Our vision': '/vision',
            'Insights': '/insights',
            'News': '/news',
            'Assets': '/assets',
            'Platsbanken': '/assets/platsbanken',
            'Occupation': '/assets/occupations',
            'Historical Job Postings': '/assets/historical-job-postings',
            'Occupation Forecast': '/assets/occupation-forecasts',
            'Job market ontology': '/assets/ontology',
            // 'CV with MS Word': '/assets/cv-with-ms-word',
            // 'Open Hack': '/assets/open-hack',
            'Labour market competition': '/assets/labour-market-competition',
          }
        li
          a(href=pages[item])= item
      else
        li.active= item
